.info-place {
    position: relative;
    width: auto;
    min-width: 280px;
    height: auto;
    background-color: var(--card-bg);
    border: 2px solid var(--border);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}

.info-place:hover {
    background-color: var(--card-alt-bg);
    transition: 0.2s;
}

.title-separator {
    border-top: 2px solid var(--border);
    margin: 10px 0;
}

.card-title {
    color: var(--text-secondary);
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.alerts-wrapper {
    max-height: 165px;
    position: relative;
    overflow-y: auto;
    /* To prevent content from being hidden behind the scrollbar */
}

.alerts-wrapper:focus{
    outline: 2px solid #005a9c; /* Ensure the user knows where their focus is */
  outline-offset: 2px;
}

/* Scrollbar styling */
.alerts-wrapper::-webkit-scrollbar {
    width: 6px;
}

.alerts-wrapper::-webkit-scrollbar-thumb {
    background: #1f3a5f;
    border-radius: 10px;
}

/* Make scroll container relative */

/* Gradient overlay */
.alerts-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;

    pointer-events: none;
    /* allow scroll interaction */

    background: linear-gradient(to bottom,
            rgba(15, 34, 54, 0) 0%,
            var(--card-bg) 100%);
}

.alerts-wrapper {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

/* Only apply gradient when class is active */
.alerts-wrapper.fade-bottom::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    pointer-events: none;
    background: linear-gradient(to bottom,
            rgba(15, 34, 54, 0),
            var(--card-bg));
}

.alerts-wrapper::after {
    transition: opacity 0.2s ease;
}

.alerts-wrapper.fade-bottom::after {
    opacity: 1;
}

.alerts-wrapper:not(.fade-bottom)::after {
    opacity: 0;
}

.custom-chart-spacing {
    width: 100%;
    max-width: 720px;
}
