.ls-1 {
    letter-spacing: 0.1em;
}

.header-main {
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100vw;
}

.home-nav {
    text-decoration: none;
    color: var(--text-primary);
    padding: 5px 0px;
}

.home-nav:hover {
    color: var(--ac-blue);
}

.hamButton{
    border: 1px solid var(--dim-blue);
    background-color: var(--text-secondary);
    top: -47px;
}

.hamButton:hover {
    border: 1px solid var(--ac-blue);
    color: var(--text-secondary);
    background-color: var(--text-primary);
    transition: 0.2s;
}

.hamDropdown{
    min-width: 220px;
    padding: 0px 10px 0px 15px;
    margin-top: 45px;
}