<header role="heading" class="navbar navbar-light d-flex align-items-center px-3">
  
  <button class="btn btn-outline-secondary p-0 border-0" (click)="toggle.emit()">
    <img src="assets/images/sudarshan_logo_final_round_small.webp" alt="Sudarshan Logo" aria-label="Sudarshan Dashboard Logo" width="30" height="30">
  </button>
  <div>
    <h5 class="text-primary-main text-uppercase text-center mb-0 ms-3 ls-1 fw-normal">Sudarshan</h5>
  </div>
  <div class="ms-auto">
    <span class="me-3">Admin</span>
  </div>

</header>