html, body {
  height: 100%;
  overflow: hidden; /* important */
}

.border-clr{
    border: 1px solid var(--border);
}

.custom-opacity {
    --bs-bg-opacity: 1;
}

.flex-grow-1 {
  scrollbar-width: thin;
}