<div>
    <h5>Campaign Overview</h5>
    <hr>
    <div class="d-flex flex-wrap gap-2">
        <!-- KPI Cards -->
        @for (card of kpiCardsData(); track card.title) {
        <app-kpi-cards [card]="card"></app-kpi-cards>
        }

    </div>

    <div class="d-flex flex-wrap gap-2 mt-3">
        <!-- Charts Place -->
        @for (chart of mapData(); track chart.title) {
        <app-charts [chart]="chart" [ngStyle]="{'width' : chart.width}"></app-charts>
        }
    </div>

    <div class="d-flex flex-wrap gap-2 mt-3">
        <!-- Booth Intelligence Table -->
        <app-tables-component [title]="'Booth Intelligence - Top performers'" [dataForTable]="boothProgress()"
            [excludedKeys]="['id']" style="width: 66%;"></app-tables-component>

        <!-- Strategic Alerts Place -->
        <div class="bg-card info-place" style="width: 30%;">
            <p class="card-title">Strategic Alerts</p>
            <hr class="title-seperator">
            <div class="alerts-wrapper pe-1">
                @for(alert of warRoomAlerts(); track alert.id ){
                <app-strategic-alerts [alert]="alert"></app-strategic-alerts>
                }
            </div>
        </div>
    </div>
    <p class="card-title influencers-section-head">Top Influencers This Week</p>
    <div class="d-flex flex-wrap gap-2 mt-3 scroll-y pb-2">
        @for(person of influencerRecommendations(); track person.id){
        <app-influencers-card [person]="person"></app-influencers-card>
        }
    </div>
</div>