.kpi-card {
    border: 1px solid var(--border);
    background-color: var(--card-bg);
    border-radius: 10px;
    width: 205px;
    height: auto;
    padding: 20px 20px 10px 20px;
    border: 2px solid var(--border);
    border-top: 4px solid var(--ac-blue) 40%;
    border-bottom: 2px solid var(--ac-blue);
}

.card-title {
    color: var(--status-gray);
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.card-count {
    font-family: 'Calibri', sans-serif;
    color: var(--text-main);
    font-size: 24pt;
    font-weight: 700;
    margin: 0;
    line-height: 1;
}

.card-top-line {
    position: relative;
    top: -18px;
    left: -20px;
    border-radius: 20px 0px 0px 0px;
    margin: 0px;
    width: 45%;
    border: 0;
    opacity: 1;
    border-top: 4px var(--ac-blue) solid;
}

.arrow{
    font-weight: 700;
}

.trend-indicator{
    color: var(--ac-emerald);
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 0.9rem;
}