<div>
    <h5>Campaign Overview</h5>
    <hr>
    <div class="d-flex flex-wrap gap-2">
        <!-- KPI Cards -->
        @for (card of kpiCards; track card.title) {
        <app-kpi-cards [card]="card"></app-kpi-cards>
        }

    </div>

    <div class="d-flex flex-wrap gap-2 mt-3">
        <!-- Charts Place -->
        @for (chart of kpiCharts; track chart.title) {
        <app-charts [chart]="chart"></app-charts>
        }
    </div>

    <div class="d-flex flex-wrap gap-2 mt-3">
        <div class="perform-table bg-card" style="width: 65%;">
            <p class="card-title">Booth Intelligence - Top performers</p>
            <hr class="title-seperator">
            <div class="table-wrapper">
                <table class="bg-row">
                    <thead>
                        <tr class="card-title bg-row-alt text-center text-wrap">
                            <th>Booth</th>
                            <th>Total Voters</th>
                            <th>Contacted</th>
                            <th>Supporters</th>
                            <th>Undecided</th>
                            <th>Coverage %age</th>
                        </tr>
                    </thead>

                    <tbody class="table-body">
                        @for(booth of boothProgress ;track booth.id){
                        <tr class="bg-row text-center">
                            <td class="text-start">{{booth.booth}} - {{booth.boothName}}</td>
                            <td>{{booth.targetVoters}}</td>
                            <td>{{booth.votersReached}}</td>
                            <td>{{booth.supportersIdentified}}</td>
                            <td>{{booth.undecided}}</td>
                            <td [style.color]="booth.coverage > 80 ? 'var(--ac-emerald)' : 'var(--ac-rose)'">
                                {{booth.coverage}}&percnt;
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bg-card info-place" style="width: 30%;">
            <p class="card-title">Strategic Alerts</p>
            <hr class="title-seperator">
            @for(alert of strategicAlerts; track alert.id){
            <div class="alerts alert-card" [class.alert-info]="alert.type === 'info'"
                [class.alert-msg]="alert.type === 'msg'" [class.alert-warn]="alert.type === 'warn'">
                <p><span><i class="bi bi-asterisk"></i></span>&nbsp; {{ alert.msg}}</p>
                <p>{{alert.reportedBy}} @ {{alert.time}}</p>
            </div>
            }
        </div>
    </div>
    <p class="card-title influencers-section-head">Top Influencers This Week</p>
    <div class="d-flex flex-wrap gap-2 mt-3">
        @for(person of topInfluencers; track person.id){
        <app-influencers-card [person]="person"></app-influencers-card>
        }
    </div>
</div>