<div class="bg-dark text-white vh-100 p-3" style="width: 250px;">

  <h4 class="text-center mb-4">Sudarshan</h4>

  <ul class="nav nav-pills flex-column gap-2">

    <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link text-white">
        Dashboard
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/volunteers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link text-white">
        Volunteers
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/booths" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link text-white">
        Booths
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/intelligence" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link text-white">
        Intelligence
      </a>
    </li>

  </ul>
</div>